.section-faq .item-wrapper {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-top: 20px;
}

.section-faq .item-wrapper details {
    margin-bottom: 20px;
}

.section-faq .item-wrapper summary {
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 20px;
    font-weight: 700;
    list-style: none;
}

.section-faq .item-wrapper summary .icon-drop {
    position: absolute;
    right: 20px;
    top: 35px;
}

.section-faq .faq-item .answer-wrapper {
    padding: 30px 20px;
}

@media screen and (max-width: 767px) {
    .section-faq .item-wrapper {
        grid-template-columns: 1fr;
    }
}
