.section-galeri .galeri-box {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content;
  gap: 10px;
  margin-top: 50px;
}

.section-galeri .galeri-box .galeri-card {
  border: 3px solid var(--color-green);
  border-radius: 10px;
  height: 400px;
  overflow: hidden;
}

.galeri-box .galeri-card .image-wrapper {
  height: 400px;
}

.filter-galeri-wrapper {
  display: flex;
  gap: 10px
}

.filter-btn,
.galeri-pagination .page-btn {
  background: var(--color-green);
  width: 140px;
  border-radius: 7px;
  color: var(--color-white) !important;
  height: 51px;
  display: grid !important;
  align-content: center;
  justify-content: center;
}

.filter-btn:hover,
.galeri-pagination .page-btn:hover {
  cursor: pointer;
}

.galeri-pagination {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 30px;
  align-items: center;
}

.galeri-pagination .page-info {
  font-weight: 700;
}
