/* hexcode waena #27235d #0f693a */
.color-white {
  color: white !important;
}

header .container {
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 15px 0px !important;
}

header.site-header {
  font-family: var(--font-main);
  position: fixed;
  width: 100%;
  top: 0;
  background-color: var(--color-white);
  border-bottom: 3px solid #0f693a6b;
  z-index: 999999;
}

header .site-branding {
  font-size: 40px;
  font-weight: 700;
  color: var(--color-black);
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 10px;
}

header .site-branding .image-wrapper {
  height: 60px;
  width: 100%;
}

.main-navigation .desktop-menu-wrapper {
  gap: 20px;
}

.main-navigation a {
  color: var(--color-black);
  font-size: 15px;
  padding: 14px 0px;
  margin: 6px 0px;
  transition: all 0.2s linear;
  position: relative;
}

.main-navigation .nav-sub-menu a:hover {
  color: var(--color-accent-2) !important;
  transition: all 0.2s linear;
}

.main-navigation a:hover {
  color: var(--color-white);
  transition: all 0.2s linear;
}

.main-navigation .desktop-menu-wrapper a:not(:last-child):after {
  content: '';
  width: 130%;
  height: 0%;
  position: absolute;
  left: -15%;
  bottom: 0;
  background: var(--color-black);
  transition: .3s all ease;
  z-index: -1;
}

.main-navigation .desktop-menu-wrapper a:not(:last-child):hover:after {
  height: 100%;
  transition: .3s all ease;
}

.main-navigation .desktop-menu-wrapper .nav-item:last-child {
  margin-left: 30px;
}

.main-navigation .nav-item-has-child-wrapper .icon-sub-menu {
  transition: all 0.2s linear;
  width: 18px;
}

.main-navigation .nav-item-has-child-wrapper:hover .icon-sub-menu {
  rotate: 180deg;
  transition: all 0.2s linear;
}

.main-navigation li.nav-sub-menu {
  display: none;
  width: 170px;
  background: var(--color-green);
  padding: 20px;
  border-radius: 7px;
  position: absolute;
  top: 60px;
  left: -20px;
  transition: all 1s linear;
}

.main-navigation .nav-item-has-child-wrapper:hover li.nav-sub-menu {
  display: block !important;
  transition: all 1s linear;
}

.main-navigation .nav-item-has-child {
  display: flex;
  gap: 5px;
}

.main-navigation .nav-sub-item {
  color: var(--color-white);
  padding: 8px;
  transition: all 0.2s linear;
  position: relative;
}

.main-navigation .nav-sub-item .blue-line {
  width: 0px;
  height: 2px;
  background-color: var(--color-accent-2);
  position: absolute;
  left: 0px;
  top: 50%;
  bottom: 50%;
  border-radius: 50px;
  transition: all 0.2s linear;
}

.main-navigation .nav-sub-item:hover {
  padding-left: 30px !important;
  transition: all 0.2s linear;
}

.main-navigation .nav-sub-item:hover .blue-line {
  width: 16px;
  transition: all 0.2s linear;
}

.mobile-menu-wrapper {
  display: none;
}

@media screen and (max-width: 767px) {
/*   header.site-header{
  background-color: green;
  } */
  
  header .container {
    width: 90%;
    z-index: 999999;
    position: relative;
    background-color: green;
    grid-template-columns: 50% 50%;
  }

  header .site-branding {
    font-size: 30px;
    max-width: 160px;
    width: 100%;
    }
  }

  header .site-branding .image-wrapper {
    height: 35px;
  }

  .desktop-menu-wrapper {
    display: none !important;
    background-color: cornsilk;
  }

  .mobile-menu-wrapper {
    display: block!important;
    z-index: 99999;
    position: relative;
    background-color: cornsilk;
  }

  .mobile-menu-wrapper .mobile-menu-box.ngumpet {
    visibility: hidden;
    opacity: 0;
    right: -100vw;
    transition: all .5s ease;
  }

  .mobile-menu-wrapper .icon-mobile-menu {
    z-index: 9999;
    position: relative;
    color: var(--color-black);
    /* right: 30px; */
  }

  .mobile-menu-wrapper .mobile-menu-box {
    display: grid;
    position: fixed;
    visibility: visible;
    opacity: 1;
    right: 0;
    top: 0;
    background: var(--color-black);
    width: 100%;
    /* padding: 90px 7% 0px; */
    padding: 7%;
    text-align: center;
    color: white;
    grid-template-columns: max-content;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    transition: all .5s ease;
  }

  .mobile-menu-wrapper .mobile-menu-box a {
    color: var(--color-white);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0px;
    display: grid;
  }

  .mobile-menu-wrapper .mobile-menu-box a:after {
    content: "";
    height: 2px;
    width: 0%;
    background: white;
  }

  .mobile-menu-wrapper .mobile-menu-box a:hover:after {
    width: 100%;
    transition: all .3s ease;
  }

  .icon-menu {
    transition: color 0.3s ease, transform 0.3s ease;
    /* Adjust properties as needed */
  }

  .mobile-menu-box {
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* For menu transitions */
  }
}

@media screen and (min-width: 1023px) {}
