.section-banner-internal {
  margin-top: 93px;
}

body:not(.page-template-about-us) .section-banner-internal .container {
  display: grid;
  height: 400px;
  align-content: center;
}

.section-banner-internal .bg-image-wrapper .bg-kanan,
.section-banner-internal .bg-image-wrapper .bg-kiri {
  top: 0;
}
