.section-page-product .product-inner-wrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.section-page-product .product-wrapper {
  padding-top: 50px;
}

.section-page-product .product-card {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.section-page-product .product-details {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 0px 0px 8px 8px;
}

.product-card .product-photo {
  max-height: 300px;
  height: 100%
}

.product-card .product-photo img {
  /* object-fit: fill !important;
   */
  height: 300px;
}