/* .single-post-template {
    margin-top: 105px;
} */

@media screen and (max-width: 767px) {
    .single-post-template {
        width: 90%;
    }

    .single-post-template .entry-title {
        font-size: 30px;
    }
}
