.section-our-team .row-title-wrapper {
  width: 720px;
}

.member-card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-template-rows: 500px;
  gap: 30px;
  margin-top: 50px;
}

.member-card-wrapper .member-card {
  border-radius: 20px;
  overflow: hidden;
  /* padding: 30px; */
  height: 500px;
}

.member-card-wrapper .member-card .image-wrapper {
  z-index: 0;
  height: 500px;
}

.member-card-wrapper .member-card .content-card {
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: calc(100% - 60px);
  backdrop-filter: blur(5px);
  /* background-color: rgba(64, 78, 237, 0.1); */
  /* background-color: yellowgreen; */
  background-color: rgba(249, 249, 250, 0.05);
  /* border: 1px solid rgba(175, 175, 175, 0.5); */
  border-radius: 10px;
  padding: 10px 20px;
  color: var(--color-white);
  z-index: 10;
}

.member-card .content-card .member-name {
  font-size: 28px;
  font-weight: 700;
}

/* .member-card-wrapper .member-card .image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
} */

.member-card-wrapper .member-card.pre-memory-team{
  background: #c5c5c5;
}

.member-card-wrapper .member-card.pre-memory-team .image-wrapper img{
  object-fit: none;
}
